*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{

    background:#111;
    color: White;

}

header{

    background: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

}

header h1{

    color: #00e5ff;
    font-family: "VT323", monospace;
    font-weight: 400 ;
    font-style: normal;
}



nav ul{

    list-style: none;
    display: flex;

}

nav ul li{

    margin-left: 20px;

}

nav ul li a{

    color: White;
    text-decoration: none;
    transition: 0.3s;

}

nav ul li a:hover{

    color: #00e5ff;

}

.banner{

    text-align: center;
    padding: 80px 20px;
    background:linear-gradient( #222,#111);

}

.banner h2{

    font-size: 40px;
    margin-bottom: 15px;

}

.banner p{

    font-size:18px;
    margin-bottom: 20px;

}

button{

    padding: 12px 25px;
    background: #00e5ff;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    border-radius: 8px;

}

button:hover{

    background: #00b8d4;

}

.juegos{

    padding: 50px ;
    text-align: center;

}

.juegos h2{

    margin-bottom: 30px;

}

.contenedor{

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.tarjeta{

    background: #222;
    border-radius: 10px;
    width: 300px;
    transition: 0.3s;
    overflow: hidden;
    box-shadow:0 0 10px rgba(0,229,255,0.3)

}

.tarjeta:hover{

transform: scale(1.05)

}

.tarjeta img{

width:100%;

}

.tarjeta h3{

margin: 15px 0 ;

}

.tarjeta p {

padding:0 15px 20px;

}

footer{

background: #1e1e1e;
text-align: center;
padding: 20px;
margin-top:  30px;

}
